body{

  background-color:#FF5733 ;
  opacity:1;
  text-align: center;
  padding:10%;
}
.background2{
    background-color: white;
    padding:10%;
    border:10px solid black;
}
.center{
  text-align: center;
}